data:
  location:
    places: src/main/resources/places.txt
    people: src/main/resources/people.txt
generate:
  orchestrate:
    rate: 500       # Rate (millis) to produce data
  customers:
    amount: 10
    target: customers
  orders: 
    amount: 10
    target: orders
  payment:
    success: 50   # Percentage of successful payments
    attempt: 100  # Percentage of attempted payments (event actually made)
    target: payments
kafka:
  brokers: "localhost:9092"
  schema-registry: "localhost:8081"
  batch: 16384
  linger: 1
  buffer: 33554432
  
